- title 'Paper Summary Uploader'

- breadcrumbs ['Paper Summaries', paper_summaries_path], 'Edit'

.row
  .col-md-12
    .box
      .box-header
        %h2
          %i.fa.fa-file-text
      .box-content
        = render 'form'
