.modal.fade{id: "sales-aid-video-modal", role: 'dialog', aria: {labelledby: "sales-aid-video-modal-label", hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}, aria: {hidden: 'true'}} &times;
        %h3.modal-title{id: "sales-aid-video-modal-label"}= sales_aid.title

      - if video = sales_aid.get_video
        .modal-body.video
          .embed-responsive.embed-responsive-16by9
            != video.embed_html5({id: 'sales-aid-video-embed', fullscreen: true, url_params: { showinfo: 0, enablejsapi: 1}})

      - else
        .modal-body
          .alert.alert-warning
            %i.fa.fa-exclamation-triangle
            = p_space 'Video Not Available'
