- title 'Sales Aid Uploader'

- breadcrumbs ['Learn More', sales_aids_path], 'New'

.row
  .col-md-12
    .box
      .box-header
        %h2
          %i.fa.fa-file-text
      .box-content
        = render 'form'

