!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http: { equiv: "Content-Type" } }

  %body
    %h2 Amaferm Research BackOffice
    %p= "#{@user.full_name},"
    %p
      To reset your password, click the link below.
      %br/
      %br/
      = link_to "reset password", @reset_password_url
      %br/
      %br/
      If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.
