- title 'About', false

#about-page
  .col-md-12
    = image_tag 'amaferm-header.jpg', class: 'img-responsive img-center'

    .row
      .col-md-7.col-xs-7.col-sm-7
        .row
          .col-md-2.col-xs-2.col-sm-2
            = image_tag 'amaferm-logo.png', class: 'img-responsive amaferm-logo'
          .col-md-10.col-xs-10.col-sm-10
            %p
              %strong
                Amaferm
                %sup> &#174;
              is included in every product in the
              %strong
                BioZyme
                %sup> &#174;
              product line. It is a natural feed additive from the fermentation of Aspergillus oryzae in a proprietary, multi-step process.
            %p
              %strong
                Amaferm
                %sup> &#174;
              is compliant with ISO 9000, HACCP and Safe Feed-Safe Food certification. It has a large independent database of published research results behind it.
      .col-md-5.col-xs-5.col-sm-5
        = image_tag 'MOREImage.jpg', class: 'img-responsive'

    %br/
    .row
      .col-md-12
        .jumbotron
          %h2
            What is Amaferm
            %sup> &#174;
            ?
          %p
            %strong
              Amaferm
              %sup> &#174;
            is a natural feed additive that acts as a prebiotic. It delivers more microbial protein and energy to the animal through increased digestibility by stimulating fungal branching, microbial enzyme activity and bacterial growth.

    .row
      %h2 Why is it important?
      .col-md-6.col-xs-6.col-sm-6
        %ul
          %li Research proven
          %li
            %span.orange-text More
            microbial activity
          %li
            %span.orange-text More
            bacteria numbers, faster
          %li
            %span.orange-text More
            digestion
      .col-md-6.col-xs-6.col-sm-6
        %ul
          %li
            %span.orange-text More
            energy
          %li
            %span.orange-text More
            performance
          %li
            %strong
              Amaferm
              %sup> &#174;
            unlocks valuable nutrients in pastures, hays and grains, regardless of quality

    %br/
    .row
      .col-md-12
        = image_tag 'AmafermProcess3.jpg', class: 'img-responsive img-center'
