- title 'About', false

.row
  .col-md-6.col-xs-6.col-sm-6
    .jumbotron
      %h1 
        Amaferm
        %sup> &reg;
        %br/
        %small The Key Ingredient

    %p
      %b 
        Amaferm
        %sup> &reg; 
      is included in every product in the 
      %b 
        BioZyme
        %sup> &reg; 
      product line.  It is a natural feed additive from the fermentation of 
      %i Aspergillus oryzae 
      in a proprietary, multi-step process.

    %p
      %b 
        Amaferm
        %sup> &reg;
      is compliant with ISO 9000, HACCP and Safe Feed-Safe Food certification.  It 
      has a large independent database of published research results behind it.

    %h1 
      What is Amaferm
      %sup> &reg;
      ?

    %p
      %b 
        Amaferm
        %sup> &reg; 
      is a direct fed microbial (prebiotic) of a select strain of 
      %i Aspergillius oryzae, 
      which through a proprietary process produces metabolites that stimulate the growth, activity 
      and function of the beneficial microorganisms in the gut thereby improving digestive efficiency.

  .col-md-6.col-xs-6.col-sm-6
    = image_tag 'amaferm-ingredients.jpg', class: 'img-responsive'

%br/

.row
  .col-md-12
    .jumbotron
      %h3
        Amaferm
        %sup> &reg; 
        = p_space 'Uniquely Stimulates'
      %h1 Beneficial Microorganisms
      %h3 in the Gut

    %h3 Why is it important?
    %ul
      %li Research proven
      %li More microbial activity
      %li More bacteria numbers, faster
      %li More digestion
      %li More energy
      %li More performance
      %li Amaferm&reg; unlocks valuable nutrients in pastures, hays and grains, regardless of quality

%br/

.row
  .col-md-12.text-center
    = image_tag 'howamafermworks-pyramid.png', class: 'img-responsive'
