.measure-box {
  &.editable {
    cursor: pointer;
  }
  .title {
    transition: all 1s;
    -webkit-transition: all 1s;
    background-color: $mainColor;
  }
  .value {
    padding: 5px;

    &.pm-control {
      background-color: #7f7f7f;
      h4 {
        color: lighten(#7f7f7f, 40%);
      }
    }
    &.pm-amaferm {
      background-color: #ff6600;
      h4 {
        color: lighten(#ff6600, 40%);
      }
    }
    h1 {
      transition: all 1s;
      -webkit-transition: all 1s;
      color: #FFFFFF;
      margin-top: 10px;
    }
  }
}
