#search-box {
  position: relative;
}
#reset-link-container {
  position: absolute;
  right: 0px;
  bottom: -25px;
}
#results .detail-table, .supplemental .detail-table {
  display: none;
}
#results .performance-measures-container {
  display: none;
  .measure-container {
    padding: 0;
    .box {
      margin: 0;
    }
  }
}
.result-panel .panel-body {
  background-color: $mainColor;
  color: white;

  a {
    color: white;

    &:hover {
      color: white;
    }
  }
}
